{% extends "base.html.j2" %}
{% block content %}
{% for block in doc.blocks %}
  {% if block.type == "header" %}
    <section data-block="header" class="card">
      {% for line in block.data.lines %}<p>{{ line }}</p>{% endfor %}
    </section>
  {% endif %}
{% endfor %}
{% endblock %}
