{% extends "base.html.j2" %}
{% block content %}
{% for block in doc.blocks %}
  {% if block.type == "oshirase" %}
    <section data-block="oshirase" class="card">
      {% for line in block.data.lines %}<p>{{ line }}</p>{% endfor %}
    </section>
  {% elif block.type == "title" %}
    <section data-block="title">
      <h1 class="doc-title">{{ block.data.text }}</h1>
    </section>
  {% elif block.type == "payment" %}
    {% set p = block.data %}
    <section data-block="payment" class="card">
      <table class="grid-table">
        <tr>
          {% for h in p.headers_top %}<th>{{ h }}</th>{% endfor %}
        </tr>
        <tr>
          {% for v in p.values_top %}<td>{{ v }}</td>{% endfor %}
        </tr>
        <tr>
          {% for h in p.headers_payment %}<th colspan="{{ (p.headers_top|length / p.headers_payment|length)|round|int }}">{{ h }}</th>{% endfor %}
        </tr>
        <tr>
          {% for v in p.values_payment %}<td class="amount" colspan="{{ (p.headers_top|length / p.values_payment|length)|round|int }}">{{ v }}</td>{% endfor %}
        </tr>
      </table>
      <table class="grid-table total-table">
        <tr><th>{{ p.total_label }}</th></tr>
        <tr><td class="total-value">{{ p.total_value }}</td></tr>
      </table>
    </section>
  {% elif block.type == "recipient" %}
    <section data-block="recipient" class="card">
      {% for line in block.data.address %}<p>{{ line }}</p>{% endfor %}
      {% for line in block.data.name %}<p class="name">{{ line }}</p>{% endfor %}
    </section>
  {% elif block.type == "notice" %}
    <section data-block="notice">
      {% for line in block.data.lines %}<p>{{ line }}</p>{% endfor %}
    </section>
  {% elif block.type == "footer" %}
    <section data-block="footer">
      {% for line in block.data.lines %}<p>{{ line }}</p>{% endfor %}
    </section>
  {% endif %}
{% endfor %}
{% endblock %}
